<div class="ms-Grid">
    <div class="ms-Grid-row">
      <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        <span class="ms-font-su">Congratulations!</span>
      </div>	
      <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        <br />
        <span class="ms-font-xl">Click on the following link to visit your site.</span>
      </div>
      <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        <br /><br />
        <a [attr.href]="site.url" target="blank">{{ site.title }}</a>
      </div>
    </div>
  </div>